@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ///////////////////// */

.parallax-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 600px;
  background-color: rgba(43, 43, 43, 0.618);
  color: white;
  /* border: 5px solid black; */
  border-radius: 45px;
  cursor: pointer;

  transform-style: preserve-3d;

  .inner-element {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 35px;
    border-radius: 22px;
    font-style: italic;
    margin-left: 371px;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.085); */
    width: 59%;
    height: 91%;
    transform: translateZ(60px);
  }
}
/* ///////////////////// */
